<%- include("partials/header.ejs") %>
<header>
    <h1><a class="logo" href="/">PLANNER</a></h1>
    <form action="/work" method="POST">
        <input type="text" name="workTask" placeholder="What's in your mind?..." required>
        <input type="submit" value="Create">
    </form>
    <a class="links" href="/">Today</a>
    <a class="links active" href="/work">Work</a>
    <div class="responsive-links">
        <ul>
            <li><a href="/">Today</a></li>
            <li><a class="active" href="/work">Work</a></li>
        </ul>
    </div>
</header>
<main>
    <% const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
    <% const newDate = new Date() %>
    <% const newMonth = months[newDate.getMonth()]; %>
    <% if(locals.tasklist !== '' && locals.thisMonth == newMonth) { %>
        <div class="newTask">
            <h4>Welcome to work planner &#128400;</h4>
            <h5><%= thisMonth %></h5>
        </div>
        <% taskList.forEach((getOneTask) => { %>
            <div class="newTask">
                <% var randomNumber = Math.floor(Math.random() * 1000000) %>
                <label id="label">
                    <input id="<%= randomNumber %>" class="checkbox" type="checkbox"> &nbsp; <%= getOneTask %>
                </label>
            </div>
            <% }) %>
    <% } else { %>
        <div class="newTaskIntro">
            <h4>Welcome to work planner &#128400;</h4>
            <ul>
                <li>
                    You can create as many tasks as you want.
                </li>
                <li>
                    All of your today's tasks will show up here like boxes &nbsp; <span>&#128073;</span> 
                </li>
            </ul>
        </div>
        <div class="newTask"><h4>task #001</h4></div>
        <div class="newTask"><h4>task #002</h4></div>
        <div class="newTask"><h4>task #003</h4></div>
        <% } %>
</main>
<%- include("partials/footer.ejs") %>